.insidestyle(@background,@number){
    background: @background;
    left: @number;
    width: 50vw;
    height: 60%;
    position: relative;
    right: 700px;
    top: 110px;
    bottom: 100px;
    h1{
        position: absolute;
        top: 80px;
        right: 190px;
        left: 150px;
        text-align: center;
        text-emphasis: bold;
        font-family: @fontofchoice;
        font-size: 3vw;
        color: white;
        line-height: 60px;
    }
    h2{
        font-size: 3rem;
        color: gray;
        position: absolute;
        top: 20px;
        right: 100px;
        margin: 5px;

    }
    
}

